# CODEOWNERS
# This is a comment.
# Each line is a file pattern follohttps://github.com/boostcampaitech7/level2-cv-semanticsegmentation-cv-02-lv3/tree/mainwed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @boostcampaitech7/CV-02-lv3
